language: python
sudo: false
python:
  - "2.7"
  - "3.5"
install:
  - pip install pip --upgrade
  - pip install setuptools --upgrade
  - if [[ $TRAVIS_PYTHON_VERSION == '2.7' ]]; then pip install -r requirements_dev_py2.txt; else pip install -r requirements_dev.txt; fi
script: python setup.py develop && python setup.py test
